@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");

// light theme
$base-l: #fffefc; // hsv (36, 1, 100)
$text-l: #0d121a; // hsv (216, 50, 10)
$overlay-l: #f2ede6; // hsv (36, 5, 95)

// dark theme
$base-d: #1d2026; // hsv (216, 25, 15)
$text-d: #fffaf2; // hsv (36, 5, 100)
$overlay-d: #303640; // hsv (216, 25, 25)

// other swatches
$navy: #2a3b54; // hsv (216, 50, 33)
$orange: #e66739; // hsv (16, 75, 90)
$yellow: #e6da39; // hsv (56, 75, 90)
$green: #7ee639; // hsv (96, 75, 90)
$cyan: #39e6da; // hsv (176, 75, 90)
$blue: #397ee6; // hsv (216, 75, 90)
$violet: #6739e6; // hsv (256, 75, 90)
$pink: #e639b8; // hsv (316, 75, 90)
$red: #e63939; // hsv (356, 75, 90)

// fonts
$font-family-base: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$display-font-sizes: (
  1: 4.5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
) !default;

$border-radius: 4px;
