@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");

// light theme
$base-l: #faf4ed;
$text-l: #202940;
$overlay-l: #f2e9e1;

// dark theme
$base-d: #0d101a;
$text-d: #faf4ed;
$overlay-d: #31425f;

// other swatches
$navy: #31425f;
$orange: #e66739;
$yellow: #e6da39;
$green: #7ee639;
$cyan: #39e6da;
$blue: #397ee6;
$violet: #6739e6;
$pink: #e639b8;
$red: #e63939;

// fonts
$font-family-base: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$display-font-sizes: (
  1: 4.5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
) !default;

$border-radius: 4px;
